# API & Serving
fastapi==0.115.0
uvicorn==0.30.5
gradio==3.50.2
gradio-client==0.6.1
pydantic==2.8.2
starlette==0.38.6

# ML & Model
xgboost==3.0.3
scikit-learn==1.5.2
mlflow==2.14.1
joblib==1.4.2

# Data
pandas==2.1.4
numpy==1.26.4
pyarrow==15.0.2

# Validation
great_expectations==1.5.8

# Utilities
requests==2.32.4
python-dotenv==1.0.1
PyYAML==6.0.2
click==8.2.1
Jinja2==3.1.6
tqdm==4.67.1